//background principal
$main__bg: #080f28;

// fonts
$font__title: 'Oswald', sans-serif;
$font_p: 'Roboto Condensed', sans-serif;

// p celestes
$p__caracter: #bbbb00;
$color__plight: #8DA0BC;

//botones
$b__black: rgb(24, 31, 54);